.slider {
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    @media (max-width: 1180px) {
        margin-top: 35px;
    }

    @media (max-width: 710px) {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    &-line {
        display: flex;
        transition: all ease 1s;
    }
    &__img {
        aspect-ratio: 720/540;

        @media (max-width: 780px) {
            aspect-ratio: 700/510;  
        }
        @media (max-width: 425px) {
            aspect-ratio: 280/204;  
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin: 50px 50px 0 50px;
        align-items: center;
        @media (max-width: 800px) {
            margin-left: 14px;
            margin-right: 17px;
        }
        @media (max-width: 450px) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    &__title {
        font-weight: $mainFontWeight;
        font-size: 46px;
        line-height: 46px;
        max-width: 161px;
        display: inline-block;
        margin: 0;
        // @media (max-width: 800px) {
        //     margin-left: -36px;
        // }
        @media (max-width: 450px) {
            font-size: 26px;
            line-height: 26px;
        }
    }
    &__button {
        width: 42px;
        height: 34px;
        border: none;
        background-color: inherit;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding: 0;
        cursor: pointer;
        @media (max-width: 450px) {
            width: 24px;
            height: 20px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    &__button:first-of-type{
        margin-right: 30px;
    }
    &__button-prev{
        background-image: url('../images/arrow-left.svg');
    }
    &__button-next{
        background-image: url('../images/arrow-right.svg');
    }

}