.footer {
    min-height: 316px;
    border-top: 1px solid $textColor;
    display: flex;
    @media (max-width: 600px) {
        flex-direction: column;
      } 
    

    &__forms {
        width: 50%;
        @media (max-width: 600px) {
            width: 95%;
            margin:  0 auto;
          }
    }

    &__text-wrap {
        margin-top: 50px;
        margin-left: 50px;
    }

    &__title {
        font-weight: $mainFontWeight;
        font-size: 46px;
        line-height: 46px;
        margin: 50px 0 0 50px;
        @media (max-width: 800px) {
            margin: 45px 0 0 40px;
          }
        @media (max-width: 600px) {
            margin-left: 12px;
            font-size: 26px;
            line-height: 26px;
          }
    }

    &__subtitle {
        font-weight: $mainFontWeight;
        font-size: 19px;
        line-height: 28px;
        margin: 16px 0 64px 50px;
        @media (max-width: 800px) {
            margin: 16px 0 64px 40px;
          }
        @media (max-width: 600px) {
            margin-left: 12px;
            font-size: 14px;
            line-height: 14px;
          }
    }
    

    &__subscribe-up {
        display:flex;
        margin-left: 50px;
        @media (max-width: 800px) {
            margin-left: 40px;
          }
        @media (max-width: 600px) {
            margin-left: 12px;
          }
    }
    &__subscribe-down {
        display:flex;
        margin-left: 50px;
        @media (max-width: 800px) {
            margin-left: 40px;
          }
        @media (max-width: 600px) {
            margin-left: 12px;
          }
    }

    &__input {
        box-sizing: border-box;
        display: inline-block;
        width: 170px;
        height: 32px;
        background-color: inherit;
        border: 1px solid $textColor;
        margin: 0;
        padding-left: 11px;
        font-weight: 400;
        font-size: 9px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $textColor;
        @media (max-width: 600px) {
            width: 140px;
          }
    }
    &__input:focus{
        outline: 0;
        border: 1px solid $textColor;
        border-radius: 0;
    }
    &__input::placeholder {
        color: $textColor;
        text-overflow: ellipsis;
    }
    &__input:focus::placeholder {
        opacity: 0; transition: opacity 0.3s ease;
    }
    &__input-surname{
        border-left: none;
    }
    &__input-email {
        display: inline-block;
        width: 260px;
        border-top: none;
        @media (max-width: 600px) {
            width: 200px;
          }
    }

    &__button-subscribe {
        box-sizing: border-box;
        display: inline-block;
        width: 80px;
        height: 32px;
        background-color: $textColor;
        color: $mainColor;
        border: 1px solid $textColor;
        font-weight: $mainFontWeight;
        font-size: 10px;
        line-height: 13px;  
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__info {
        width: 50%;
        border-left: 1px solid $textColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: 1000px) {
            border-left: none;
          } 
        @media (max-width: 600px) {
            width: 95%;
            margin:  0 auto;
            align-items: flex-start;
          }  
    }

    &__logo {
        display: block;
        width: 188px;
        height: 38px;
        margin-top: 50px;
        margin-right: 50px;
        @media (max-width: 800px) {
            margin-top: 47px;
            margin-right: 42px;
          }
        @media (max-width: 600px) {
            margin: 120px auto 20px auto;
            width: 280px;
            height: 58px;
          }
    }

    &__copyright {
        display: block;
        font-weight: $mainFontWeight;
        font-size: 13px;
        line-height: 13px;
        text-align: right;
        letter-spacing: 1px;
        margin-bottom: 50px;
        margin-right: 50px;
        max-width: 142px;

        @media (max-width: 800px) {
            margin-bottom: 53px;
            margin-right: 43px;
          }
        @media (max-width: 600px) {
            margin: 0 auto 20px 25px;
          }
    }
}